<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= sign_type %></h1>
    <p>You signed in with <%= sign_type %></p>
  </body>
</html>
