<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
    <meta name="google-signin-scope" content="profile email https://www.googleapis.com/auth/plus.login">
    <meta name="google-signin-client_id" content="<%- google_client_id %>">
    <script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
</head>

<body>
<div id="top">
    <h3>登录</h3>
    <form class="form" method="post" action="/signin">
        <div>
            <label for="username">用户名: </label>
            <input id="username" type="text" name="username" placeholder="用户名" pattern=".{3,100}" required>
        </div>

        <div>
            <label for="password">密码:</label>
            <input id="password" type="password" name="password" placeholder="密码" pattern=".{5,100}" required>
        </div>

        <div>
            <input type="submit" value="登录">
        </div>
    </form>

    <div>
        <a href="/signin/facebook">Login with Facebook</a>
        <button onclick="getFacebookToken()">Get Facebook token</button>
    </div>

    <div>
        <a href="/signin/google">Login with Google</a>
        <!--<button onclick="getGoogleToken()">Get Google token</button>-->
    </div>

    <div class="g-signin2" data-onsuccess="getGoogleToken" data-theme="dark"></div>

    <div>
        <a href="/signout">Sign Out</a>
    </div>
</div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : "<%- facebook_app_id %>",
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function getFacebookToken(){
//        FB.getLoginStatus(function(response) {
//            if (response.status === 'connected') {
//                console.log(response.authResponse);
//            }
//        });
        FB.login(function(response) {
            console.log(response);
        }, {scope: 'email'});
    }

    function getGoogleToken(googleUser) {
//        var profile = googleUser.getBasicProfile();

//        console.log("ID: " + profile.getId());
//        console.log('Full Name: ' + profile.getName());
//        console.log('Given Name: ' + profile.getGivenName());
//        console.log('Family Name: ' + profile.getFamilyName());
//        console.log("Image URL: " + profile.getImageUrl());
//        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("id_token: " + id_token);
    }
</script>

</body>
</html>
