<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>

<body>
<div id="top">
    <form class="form" method="post" action="signin">
        <div>
            <label for="username">用户名: </label>
            <input id="username" type="text" name="username" placeholder="用户名" pattern=".{3,100}" required>
        </div>

        <div>
            <label for="password">密码:</label>
            <input id="password" type="password" name="password" placeholder="密码" pattern=".{5,100}" required>
        </div>

        <div>
            <input type="submit" value="登录">
        </div>
    </form>

    <div>
        <a href="/signin/google">Login with Google</a>
    </div>

    <div>
        <a href="/signout">Sign Out</a>
    </div>
</div>
</body>
</html>
